<div class="panel panel-info">
	<div class="panel-heading">
		文章
	</div>
	<div class="panel-body">
		<table class="table table-bordered text-center table-condensed">

			<tr>
				<td></td>
				<td>作者</td>
			</tr>

		<% @topics.each do |t| %>

		<tr>
			<td><%= link_to "#{t.title}", topic_path(t) %></td>
			<td><%= link_to "#{t.user.try(:short_name)}",user_info_topics_path(:uid => t.user)%></td>
		</tr>

		<% end %>

		</table>
	<%= paginate @topics %>
	</div>
</div>