<div class="new-post">
</br>
<%= link_to("發文", new_topic_path , :class => "btn btn-warning btn-sm") %>
</div>

<div class="category-link">

<%= link_to "所有主題", topics_path,:class => "btn btn-default btn-xs" %> 

<% @categories.each do |c| %>

<%= link_to "#{c.name} ",topics_path( merge_topics_params(:cid => c ) ), :class => "btn btn-default btn-xs" %> 

<% end %>

</div>


<%= render :partial => 'topiclist' %>