

	<h1><%= @topic.title %></h1>
	<p><%= @topic.content %></p>

	<%#= form_for @comment do |c|%>
	
	<%#= c.label "comment" :comment %>
	<%#= c.text_area :comment %>

 <% end %>
<%= link_to 'back', topics_path %>