<table class = "table">
<% @beinvited.each do |f|%>

	<tr>
		<td><%=f.user.email%></td>
		<td><%= link_to "接受邀請", friendship_path(:fid=>f),:method => "put" %></td>
	</tr>
<% end %>

</table>


<table class = "table">
<% @friends.each do |f|%>

	<tr>
		<td><%=f.friend.email%></td>
		<td><a>邀請中</a></td>
	</tr>
<% end %>

</table>